cdk-virtual-scroll-viewport {
  height: 70vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: var(--main-spacing);
}

.avatar {
  border-radius: 60%;
  display: block;
  height: 100%;
}
